@page
@model Accounting_System.Areas.Admin.Pages.SalesOrderPage.DetailsModel
@using Models
@{
    ViewData["Title"] = "Chi tiết đơn đặt hàng";
}

@functions {
    public void GetSelectedVthh()
    {
        Console.WriteLine("hello");
    }
}

<div>
    <a asp-page="./Index"><i class="fas fa-arrow-left mr-1"></i>Trờ về</a>
</div>
<h1>Thông tin chi tiết</h1>
<div>
    <h4>Đơn đặt hàng (Sales Order)</h4>
    <hr />
    <form asp-page-handler="UpdateCommonInfo" method="post" id="UpdateCommonInfo">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TDondathang.PkId" />
            <div class="row">
                <div class="form-group col-3">
                    <label asp-for="TDondathang.FkDvcs" class="control-label"></label>
                    <select asp-for="TDondathang.FkDvcs" asp-items="Model.DvcsSelectList" class="form-control">
                        <option value="" selected disabled>Chọn</option>
                    </select>
                    <span asp-validation-for="TDondathang.FkDvcs" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TDondathang.CSophieu" class="control-label"></label>
                    <input asp-for="TDondathang.CSophieu" class="form-control" readonly />
                    <span asp-validation-for="TDondathang.CSophieu" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TDondathang.CNgaylap" class="control-label"></label>
                    <input asp-for="TDondathang.CNgaylap" class="form-control" />
                    <span asp-validation-for="TDondathang.CNgaylap" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TDondathang.CNgaynhan" class="control-label"></label>
                    <input asp-for="TDondathang.CNgaynhan" class="form-control" />
                    <span asp-validation-for="TDondathang.CNgaynhan" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TDondathang.CNgayhethan" class="control-label"></label>
                    <input asp-for="TDondathang.CNgayhethan" class="form-control" />
                    <span asp-validation-for="TDondathang.CNgayhethan" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TDondathang.FkKhachhang" class="control-label"></label>
                    <select asp-for="TDondathang.FkKhachhang" asp-items="Model.KhSelectList" onchange="HandleCustomerSelect(this)" class="form-control">
                        <option value="" selected disabled>Chọn</option>
                    </select>
                    <span asp-validation-for="TDondathang.FkKhachhang" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TDondathang.CKhdk" class="control-label"></label>
                    <input asp-for="TDondathang.CKhdk" id="KhachHang" class="form-control" />
                    <span asp-validation-for="TDondathang.CKhdk" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TDondathang.CKhdkdc" class="control-label"></label>
                    <input asp-for="TDondathang.CKhdkdc" id="KhachHangDiaChi" readonly class="form-control" />
                    <span asp-validation-for="TDondathang.CKhdkdc" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TDondathang.FkNguoilh" class="control-label"></label>
                    <select asp-for="TDondathang.FkNguoilh" asp-items="Model.NlhSelectList" class="form-control">
                        <option value="" selected disabled>Chọn</option>
                    </select>
                    <span asp-validation-for="TDondathang.FkNguoilh" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TDondathang.FkLoaitien" class="control-label"></label>
                    <select asp-for="TDondathang.FkLoaitien" asp-items="Model.TienteSelectList" class="form-control">
                        <option value="" selected disabled>Chọn</option>
                    </select>
                    <span asp-validation-for="TDondathang.FkLoaitien" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TDondathang.CTigia" class="control-label"></label>
                    <input asp-for="TDondathang.CTigia" id="Tigia" class="form-control" />
                    <span asp-validation-for="TDondathang.CTigia" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TDondathang.CDiengiai" class="control-label"></label>
                    <input asp-for="TDondathang.CDiengiai" class="form-control" />
                    <span asp-validation-for="TDondathang.CDiengiai" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TDondathang.FkVuviec" class="control-label"></label>
                    <select asp-for="TDondathang.FkVuviec" asp-items="Model.VuviecSelectList" class="form-control">
                        <option value="" selected disabled>Chọn</option>
                    </select>
                    <span asp-validation-for="TDondathang.FkVuviec" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TDondathang.FkPhongban" class="control-label"></label>
                    <select asp-for="TDondathang.FkPhongban" asp-items="Model.PhongbanSelectList" class="form-control">
                        <option value="" selected disabled>Chọn</option>
                    </select>
                    <span asp-validation-for="TDondathang.FkPhongban" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TDondathang.FkPhanxuong" class="control-label"></label>
                    <select asp-for="TDondathang.FkPhanxuong" asp-items="Model.PhanxuongSelectList" class="form-control">
                        <option value="" selected disabled>Chọn</option>
                    </select>
                    <span asp-validation-for="TDondathang.FkPhanxuong" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TDondathang.CVat" class="control-label"></label>
                    <input asp-for="TDondathang.CVat" class="form-control" />
                    <span asp-validation-for="TDondathang.CVat" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="TDondathang.FkPttt" class="control-label"></label>
                    <select asp-for="TDondathang.FkPttt" asp-items="Model.PtttSelectList" class="form-control">
                        <option value="" selected disabled>Chọn</option>
                    </select>
                    <span asp-validation-for="TDondathang.FkPttt" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<div class="card shadow mb-4 w-100">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách vật tư, hàng hóa</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangctList[0].Dondathangct.FkVthh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangctList[0].Dondathangct.CNgaynhan)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangctList[0].Dondathangct.CNgaydukien)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangctList[0].Dondathangct.CSoluong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangctList[0].Dondathangct.FkDvban)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangctList[0].Dondathangct.CDongia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangctList[0].Dondathangct.FkTrangthai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangctList[0].Dondathangct.CDongia2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangctList[0].Dondathangct.FkNguoncc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangctList[0].Dondathangct.CDongiatc)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TDondathangctList != null)
                    {
                        var index = 0;
                        @foreach (var item in Model.TDondathangctList)
                        {
                            index++;
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => index)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vthh.CMa)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dondathangct.CNgaynhan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dondathangct.CNgaydukien)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dondathangct.CSoluong)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dvt.CMota)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dondathangct.CDongia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Trangthai.CMota)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dondathangct.CDongia2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nguoncc.CMota)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dondathangct.CDongiatc)
                                </td>
                                <td>
                                    <form method="post" asp-page-handler="DeleteVthh">
                                        <input name="id" value="@item.Dondathangct.PkId" type="hidden" />
                                        <input name="orderId" value="@Model.Id" type="hidden" />
                                        <div class="d-flex" style="gap:16px">
                                            @*<a class="btn btn-success btn-circle" asp-page="./Edit" asp-route-id="@item.Vthh.PkId"><i class="fas fa-edit"></i></a>*@
                                            <button type="submit" class="btn btn-danger btn-circle"><i class="fas fa-trash-alt"></i></button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createVthhModal">
                Thêm mới
            </button>
        </div>
    </div>
</div>

@*  Danh sách điều khoản*@
<div class="card shadow w-100">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách điều khoản</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangdkList[0].Dondathangdk.CStt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangdkList[0].Dondathangdk.FkDkbg)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TDondathangdkList != null)
                    {
                        var index = 0;
                        @foreach (var item in Model.TDondathangdkList)
                        {
                            index++;
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => index)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dkbg.CMota)
                                </td>
                                <td>
                                    <form method="post" asp-page-handler="DeleteDkbg">
                                        <input name="id" value="@item.Dondathangdk.PkId" type="hidden" />
                                        <input name="orderId" value="@Model.Id" type="hidden" />
                                        <button type="submit" class="btn btn-danger btn-circle"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createDkbgModal">
                Thêm mới
            </button>
        </div>
    </div>
</div>

<!-- CreateVthhModal -->
<div class="modal fade" id="createVthhModal" tabindex="-1" role="dialog" aria-labelledby="createVthhModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createVthhModalLabel">Thêm mới Vật tư, hàng hóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-page-handler="CreateVthh" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="TDondathangct.FkDondathang" value="@Model.Id" type="hidden" />
                    <div class="form-group">
                        <label asp-for="TDondathangct.FkVthh" class="control-label"></label>
                        <select asp-for="TDondathangct.FkVthh" asp-items="Model.VattuhanghoaSelectList" onchange="HandleProductSelect(this)" class="form-control">
                            <option value="" selected disabled>Chọn</option>
                        </select>
                        <span asp-validation-for="TDondathangct.FkVthh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TDondathangct.FkDvban" class="control-label"></label>
                        <select asp-for="TDondathangct.FkDvban" id="Dvban" asp-items="Model.DvtSelectList" class="form-control">
                            <option value="" selected disabled>Chọn</option>
                        </select>
                        <span asp-validation-for="TDondathangct.FkDvban" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TDondathangct.CNgaynhan" class="control-label"></label>
                        <input asp-for="TDondathangct.CNgaynhan" class="form-control" />
                        <span asp-validation-for="TDondathangct.CNgaynhan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TDondathangct.CNgaydukien" class="control-label"></label>
                        <input asp-for="TDondathangct.CNgaydukien" class="form-control" />
                        <span asp-validation-for="TDondathangct.CNgaydukien" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TDondathangct.CSoluong" class="control-label"></label>
                        <input asp-for="TDondathangct.CSoluong" id="Soluong" value="0" onchange="UpdateDongiatc()" class="form-control" />
                        <span asp-validation-for="TDondathangct.CSoluong" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TDondathangct.CDongia" class="control-label"></label>
                        <input asp-for="TDondathangct.CDongia" id="Dongia" onchange="HandleDongiaChange(this)" class="form-control" />
                        <span asp-validation-for="TDondathangct.CDongia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TDondathangct.CDongia2" class="control-label"></label>
                        <input asp-for="TDondathangct.CDongia2" id="Dongia2" onchange="HandleDongia2Change(this)" class="form-control" />
                        <span asp-validation-for="TDondathangct.CDongia2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TDondathangct.CDongiatc" class="control-label"></label>
                        <input asp-for="TDondathangct.CDongiatc" id="Dongiatc" readonly class="form-control" />
                        <span asp-validation-for="TDondathangct.CDongiatc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Dongiatc2" class="control-label">Thành tiền(USD)</label>
                        <input id="Dongiatc2" disabled class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="TDondathangct.FkTrangthai" class="control-label"></label>
                        <select asp-for="TDondathangct.FkTrangthai" asp-items="Model.DMTrangthaiSelectList" class="form-control">
                            <option value="" selected disabled>Chọn</option>
                        </select>
                        <span asp-validation-for="TDondathangct.FkTrangthai" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TDondathangct.FkNguoncc" class="control-label"></label>
                        <select asp-for="TDondathangct.FkNguoncc" asp-items="Model.DMNguonccSelectList" class="form-control">
                            <option value="" selected disabled>Chọn</option>
                        </select>
                        <span asp-validation-for="TDondathangct.FkNguoncc" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Thêm mới</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- CreateDkbgModal -->
<div class="modal fade" id="createDkbgModal" tabindex="-1" role="dialog" aria-labelledby="createDkbgModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createDkbgModalLabel">Thêm mới Điều khoản báo giá</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-page-handler="CreateDkbg" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="TDondathangdk.FkDondathang" value="@Model.Id" type="hidden" />
                    <div class="form-group">
                        <label asp-for="TDondathangdk.FkDkbg" class="control-label"></label>
                        <select asp-for="TDondathangdk.FkDkbg" asp-items="Model.DkbgSelectList" class="form-control">
                            <option value="" selected disabled>Chọn</option>
                        </select>
                        <span asp-validation-for="TDondathangdk.FkDkbg" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Thêm mới</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        const dongia = $("#Dongia");
        const dongia2 = $("#Dongia2");
        const soluong = $("#Soluong");
        const dongiatc = $("#Dongiatc");
        const dongiatc2 = $("#Dongiatc2");
        const customer = $("#KhachHang");
        const customerAddress = $("#KhachHangDiaChi");
        const dvban = $("#Dvban");
        const tigia = $("#Tigia");
        function HandleProductSelect(e) {
            $.ajax({
                type: "POST",
                url: "/Admin/SalesOrderPage/Details?handler=GetSelectedProduct",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { "id": e.value },
                dataType: "json",
                success: function (result) {
                    dongia.val(result.cGiachuan);
                    dongia2.val((result.cGiachuan / tigia.val()).toFixed(2));
                    dvban.val(result.fkDvban);
                    UpdateDongiatc();
                },
                error: function (data) {
                    alert(data);
                }
            })
        }
        function HandleDongiaChange(e) {
            dongia2.val((e.value / tigia.val()).toFixed(2));
            UpdateDongiatc();
        }
        function HandleDongia2Change(e) {
            dongia.val(e.value * tigia.val());
            UpdateDongiatc();
        }
        function UpdateDongiatc() {
            dongiatc.val(dongia.val() * soluong.val());
            dongiatc2.val((dongiatc.val() / tigia.val()).toFixed(2));
        }
        function HandleCustomerSelect(e) {
            $.ajax({
                type: "POST",
                url: "/Admin/SalesOrderPage/Create?handler=GetSelectedCustomer",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { "id": e.value },
                dataType: "json",
                success: function (result) {
                    customer.val(result.cTen);
                    customerAddress.val(result.cDiachi);
                },
                error: function (data) {
                    alert(data);
                }
            })
        }
    </script>
}