@page
@model Accounting_System.Areas.Admin.Pages.SalesOrderPage.IndexModel

@{
    ViewData["Title"] = "Đơn đặt hàng (Sales Order)";
}

<h1>Đơn đặt hàng</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Tạo mới</a>
</p>
<div class="card shadow mt-2 w-100">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách đơn đặt hàng</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangRecordList[0].Dondathang.CSophieu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangRecordList[0].Dondathang.CNgaylap)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangRecordList[0].Dondathang.CDiengiai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangRecordList[0].Kh.CMa)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangRecordList[0].Kh.CTen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangRecordList[0].Kh.CDiachi)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangRecordList[0].Khnlh.CTen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangRecordList[0].Dondathang.FkSoxe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangRecordList[0].Dondathang.CNguoivanchuyen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangRecordList[0].Dondathang.FkHangvanchuyen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangRecordList[0].Dondathang.CVat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangRecordList[0].Dondathang.FkPhongban)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangRecordList[0].Dondathang.FkVuviec)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TDondathangRecordList[0].Dondathang.FkDvcs)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TDondathangRecordList != null)
                    {
                        @foreach (var item in Model.TDondathangRecordList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dondathang.CSophieu)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dondathang.CNgaylap)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dondathang.CDiengiai)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Kh.CMa)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Kh.CTen)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Kh.CDiachi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Khnlh.CTen)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dondathang.FkSoxe)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dondathang.CNguoivanchuyen)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dondathang.FkHangvanchuyen)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dondathang.CVat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dondathang.FkPhongban)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dondathang.FkVuviec)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dvcs.CMa)
                                </td>
                                <td>
                                    <div class="d-flex" style="gap: 16px">
                                        <a class="btn btn-success btn-circle" asp-page="./Details" asp-route-id="@item.Dondathang.PkId"><i class="fas fa-edit"></i></a>
                                        <a class="btn btn-danger btn-circle" asp-page="./Delete" asp-route-id="@item.Dondathang.PkId"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>