@page
@model Accounting_System.Areas.Admin.Pages.CustomerPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TDmKh</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CMa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CMa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.FkDvcs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.FkDvcs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.FkQuocgia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.FkQuocgia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CMst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CMst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CSndn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CSndn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CTongno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CTongno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CGiamdoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CGiamdoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CKtt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CKtt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CWebsite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CWebsite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.FkNhomkh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.FkNhomkh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.FkNhomkh2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.FkNhomkh2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.FkNhomkh3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.FkNhomkh3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.FkVung)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.FkVung)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CTccn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CTccn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CNguoimua)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CNguoimua)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CNhacungcap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CNhacungcap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CGhichu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CGhichu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CGiaodich)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CGiaodich)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CTen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CTvt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CTvt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CDiachi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CDiachi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.FkTtp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.FkTtp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CFax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CFax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CDienthoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CDienthoai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CTaikhoan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CTaikhoan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CNgaythietlap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CNgaythietlap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.FkUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.FkUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CDatetime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CDatetime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.FkHuyen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.FkHuyen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.FkXa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.FkXa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.FkXom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.FkXom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CConvert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CConvert)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CNhanvien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CNhanvien)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CEffectid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CEffectid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.FkModifyuser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.FkModifyuser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.FkTaikhoan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.FkTaikhoan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CMucno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CMucno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CMax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CMax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.FkPttt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.FkPttt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CCuoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CCuoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CTrietkhau)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CTrietkhau)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CMathang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CMathang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CKhoangcach)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CKhoangcach)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CTenen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CTenen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CTentaikhoan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CTentaikhoan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CDiachitaikhoan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CDiachitaikhoan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CMauso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CMauso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CVonDieuLeVnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CVonDieuLeVnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CVonDieuLeUsd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CVonDieuLeUsd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CSoDangKyKd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CSoDangKyKd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CNgayThanhLap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CNgayThanhLap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CTieuDeThu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CTieuDeThu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.FkDktt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.FkDktt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CNguoiDaiDienPhapLuat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CNguoiDaiDienPhapLuat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CMerTypeShipper)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CMerTypeShipper)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CMerTypeConsignee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CMerTypeConsignee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CMerTypeNotify)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CMerTypeNotify)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CMerTypeForwarder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CMerTypeForwarder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CMerTypeFeeder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CMerTypeFeeder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CMerTypeSlotOwner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CMerTypeSlotOwner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CMerTypeSubleasee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CMerTypeSubleasee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CMerTypeBilling)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CMerTypeBilling)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CMerTypeOther)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CMerTypeOther)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.FkCommodity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.FkCommodity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CQtyCont20)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CQtyCont20)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CQtyCont40)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CQtyCont40)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CQtyTeus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CQtyTeus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CInboundHandling)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CInboundHandling)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CInboundDemurrage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CInboundDemurrage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.COutboundHandling)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.COutboundHandling)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.COutboundDemurrage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.COutboundDemurrage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CGrossweightCont20)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CGrossweightCont20)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CGrossweightCont40)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CGrossweightCont40)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CContCleaning)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CContCleaning)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CNote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CNote)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CLastexport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CLastexport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CCmnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CCmnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CNgayCmnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CNgayCmnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CNoicapCmnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CNoicapCmnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CChoxoa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CChoxoa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CDiachiGd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CDiachiGd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CTenTat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CTenTat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmKh.CSonha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmKh.CSonha)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TDmKh.PkId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
