@page
@model Accounting_System.Areas.Admin.Pages.CustomerPage.IndexModel

@{
    ViewData["Title"] = "Danh mục Khách hàng/Nhà cung cấp";
}

<h1>Danh mục Khách hàng/Nhà cung cấp</h1>

<p>
    <a asp-page="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CMa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].FkDvcs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].FkQuocgia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CMst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CSndn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CTongno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CGiamdoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CKtt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CWebsite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].FkNhomkh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].FkNhomkh2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].FkNhomkh3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].FkVung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CTccn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CNguoimua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CNhacungcap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CGhichu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CGiaodich)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CTvt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CDiachi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].FkTtp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CFax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CDienthoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CTaikhoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CNgaythietlap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].FkUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].FkHuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].FkXa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].FkXom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CConvert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CNhanvien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CEffectid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].FkModifyuser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].FkTaikhoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CMucno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].FkPttt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CCuoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CTrietkhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CMathang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CKhoangcach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CTenen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CTentaikhoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CDiachitaikhoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CMauso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CVonDieuLeVnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CVonDieuLeUsd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CSoDangKyKd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CNgayThanhLap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CTieuDeThu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].FkDktt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CNguoiDaiDienPhapLuat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CMerTypeShipper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CMerTypeConsignee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CMerTypeNotify)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CMerTypeForwarder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CMerTypeFeeder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CMerTypeSlotOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CMerTypeSubleasee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CMerTypeBilling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CMerTypeOther)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].FkCommodity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CQtyCont20)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CQtyCont40)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CQtyTeus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CInboundHandling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CInboundDemurrage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].COutboundHandling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].COutboundDemurrage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CGrossweightCont20)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CGrossweightCont40)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CContCleaning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CLastexport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CCmnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CNgayCmnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CNoicapCmnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CChoxoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CDiachiGd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CTenTat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmKh[0].CSonha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TDmKh) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CMa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkDvcs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkQuocgia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CSndn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTongno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CGiamdoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CKtt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CWebsite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkNhomkh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkNhomkh2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkNhomkh3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkVung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTccn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNguoimua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNhacungcap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CGhichu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CGiaodich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTvt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDiachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkTtp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CFax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDienthoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTaikhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNgaythietlap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkHuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkXa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkXom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CConvert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNhanvien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEffectid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkModifyuser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkTaikhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMucno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkPttt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCuoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTrietkhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMathang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CKhoangcach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTenen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTentaikhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDiachitaikhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMauso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CVonDieuLeVnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CVonDieuLeUsd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CSoDangKyKd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNgayThanhLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTieuDeThu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkDktt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNguoiDaiDienPhapLuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMerTypeShipper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMerTypeConsignee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMerTypeNotify)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMerTypeForwarder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMerTypeFeeder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMerTypeSlotOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMerTypeSubleasee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMerTypeBilling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMerTypeOther)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkCommodity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CQtyCont20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CQtyCont40)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CQtyTeus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CInboundHandling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CInboundDemurrage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COutboundHandling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COutboundDemurrage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CGrossweightCont20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CGrossweightCont40)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CContCleaning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLastexport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCmnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNgayCmnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNoicapCmnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CChoxoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDiachiGd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTenTat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CSonha)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PkId">Chỉnh sửa</a> |
                <a asp-page="./Details" asp-route-id="@item.PkId">Chi tiết</a> |
                <a asp-page="./Delete" asp-route-id="@item.PkId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
