@page
@model Accounting_System.Areas.Admin.Pages.UpdateDocumentPage.DetailsModel

@{
    ViewData["Title"] = "Chi tiết chứng từ";
}

<div>
    <a asp-page="Index"><i class="fas fa-arrow-left mr-1"></i>Trờ về</a>
</div>

<h1>Tạo mới</h1>

<h4>Cập nhật chứng từ</h4>
<hr />
<form method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="TXntc.PkId" type="hidden" />
        <input asp-for="TXntc.FkOrder" type="hidden" />
        <div class="form-group col-3">
            <label asp-for="TXntc.FkDvcs" class="control-label"></label>
            <select asp-for="TXntc.FkDvcs" asp-items="Model.TDmDvcsSelectList" disabled class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkDvcs" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkChungtu" class="control-label"></label>
            <select asp-for="TXntc.FkChungtu" id="ChungTu" asp-items="Model.TDmChungtuSelectList" disabled class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkChungtu" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CNgaylap" class="control-label"></label>
            <input asp-for="TXntc.CNgaylap" id="NgayLap" class="form-control" />
            <span asp-validation-for="TXntc.CNgaylap" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CDiengiai" class="control-label"></label>
            <input asp-for="TXntc.CDiengiai" id="DienGiai" class="form-control" />
            <span asp-validation-for="TXntc.CDiengiai" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CSophieu" class="control-label"></label>
            <input asp-for="TXntc.CSophieu" id="SoPhieu" class="form-control" disabled />
            <span asp-validation-for="TXntc.CSophieu" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkKhachhang" class="control-label"></label>
            <select asp-for="TXntc.FkKhachhang" id="MaKH" asp-items="Model.TDmKhSelectList" onchange="HandleSelectKh(this.value)" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkKhachhang" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CKhdiachi" class="control-label"></label>
            <input asp-for="TXntc.CKhdiachi" id="KHDiaChi" class="form-control" />
            <span asp-validation-for="TXntc.CKhdiachi" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkNguoilh" class="control-label"></label>
            <select asp-for="TXntc.FkNguoilh" id="NguoiLH" asp-items="Model.TDmNguoilhSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkNguoilh" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CNguoilh" class="control-label"></label>
            <input asp-for="TXntc.CNguoilh" class="form-control" />
            <span asp-validation-for="TXntc.CNguoilh" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkTkno" class="control-label"></label>
            <select asp-for="TXntc.FkTkno" id="TKNo" asp-items="Model.TDmTaikhoanSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkTkno" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkTkco" class="control-label"></label>
            <select asp-for="TXntc.FkTkco" id="TKCo" asp-items="Model.TDmTaikhoanSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkTkco" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkKhoxuat" class="control-label"></label>
            <select asp-for="TXntc.FkKhoxuat" id="KhoXuat" asp-items="Model.TDmKhohangSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkKhoxuat" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkKhonhap" class="control-label"></label>
            <select asp-for="TXntc.FkKhonhap" id="KhoNhap" asp-items="Model.TDmKhohangSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkKhonhap" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CNgayct" class="control-label"></label>
            <input asp-for="TXntc.CNgayct" id="NgayCT" class="form-control" />
            <span asp-validation-for="TXntc.CNgayct" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CMahoadon" class="control-label"></label>
            <input asp-for="TXntc.CMahoadon" class="form-control" />
            <span asp-validation-for="TXntc.CMahoadon" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CKyhieumau" class="control-label"></label>
            <input asp-for="TXntc.CKyhieumau" class="form-control" />
            <span asp-validation-for="TXntc.CKyhieumau" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CVat" class="control-label"></label>
            <input asp-for="TXntc.CVat" id="VAT" class="form-control" />
            <span asp-validation-for="TXntc.CVat" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkPhongban" class="control-label"></label>
            <select asp-for="TXntc.FkPhongban" id="PhongBan" asp-items="Model.TDmPhongbanSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkPhongban" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkPhanxuong" class="control-label"></label>
            <select asp-for="TXntc.FkPhanxuong" id="PhanXuong" asp-items="Model.TDmPhanxuongSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkPhanxuong" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkLoaitien" class="control-label"></label>
            <select asp-for="TXntc.FkLoaitien" id="LoaiTien" asp-items="Model.TDmLoaitienSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkLoaitien" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CTigia" class="control-label"></label>
            <input asp-for="TXntc.CTigia" id="TiGia" class="form-control" />
            <span asp-validation-for="TXntc.CTigia" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkPttt" class="control-label"></label>
            <select asp-for="TXntc.FkPttt" id="PTTT" asp-items="Model.TDmPtttSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkPttt" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CSotknh" class="control-label"></label>
            <input asp-for="TXntc.CSotknh" class="form-control" />
            <span asp-validation-for="TXntc.CSotknh" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Lưu" class="btn btn-primary" />
    </div>
</form>

<div class="card shadow mb-4 w-100">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách vật tư, hàng hóa</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcList[0].Vthh.CTen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcList[0].Xntc.CSoluong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcList[0].Xntc.CNguyengia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcList[0].Xntc.CChietkhau)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcList[0].Xntc.CDongia)
                        </th>
                        <th>
                            T/Tiền
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TXntcList != null)
                    {
                        var index = 0;
                        @foreach (var item in Model.TXntcList)
                        {
                            index++;
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => index)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vthh.CTen)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Xntc.CSoluong)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Xntc.CNguyengia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Xntc.CChietkhau)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Xntc.CDongia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Xntc.CPsno)
                                </td>
                                @*<td>
                                        <form method="post" asp-page-handler="DeleteVthh">
                                            <input name="id" value="@item.Xntc.PkId" type="hidden" />
                                            <input name="orderId" value="@Model.Id" type="hidden" />
                                            <div class="d-flex" style="gap:16px">
                                                <a class="btn btn-success btn-circle" asp-page="./Edit" asp-route-id="@item.Vthh.PkId"><i class="fas fa-edit"></i></a>
                                                <button type="submit" class="btn btn-danger btn-circle"><i class="fas fa-trash-alt"></i></button>
                                            </div>
                                        </form>
                                    </td>*@
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createVthhModal">
                Thêm mới
            </button>
        </div>
    </div>
</div>

<!-- CreateVthhModal -->
<div class="modal fade" id="createVthhModal" tabindex="-1" role="dialog" aria-labelledby="createVthhModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createVthhModalLabel">Thêm mới Vật tư, hàng hóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-page-handler="CreateVthh" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="TXntcItem.FkOrder" type="hidden" />
                    <div class="form-group">
                        <label asp-for="TXntcItem.FkVthh" class="control-label"></label>
                        <select asp-for="TXntcItem.FkVthh" asp-items="Model.VattuhanghoaSelectList" onchange="HandleProductSelect(this)" class="form-control">
                            <option value="" selected disabled>Chọn</option>
                        </select>
                        <span asp-validation-for="TXntcItem.FkVthh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TXntcItem.CSoluong" class="control-label"></label>
                        <input asp-for="TXntcItem.CSoluong" class="form-control" />
                        <span asp-validation-for="TXntcItem.CSoluong" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TXntcItem.CDongia" class="control-label"></label>
                        <input asp-for="TXntcItem.CDongia" class="form-control" />
                        <span asp-validation-for="TXntcItem.CDongia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TXntcItem.CTienhang" class="control-label"></label>
                        <input asp-for="TXntcItem.CTienhang" class="form-control" />
                        <span asp-validation-for="TXntcItem.CTienhang" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TXntcItem.CTienhang" class="control-label"></label>
                        <input asp-for="TXntcItem.CTienhang" class="form-control" />
                        <span asp-validation-for="TXntcItem.CTienhang" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TXntcItem.CPsco2" class="control-label"></label>
                        <input asp-for="TXntcItem.CPsno2" class="form-control" />
                        <span asp-validation-for="TXntcItem.CPsno2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TXntcItem.CTienthue" class="control-label"></label>
                        <input asp-for="TXntcItem.CTienthue" class="form-control" />
                        <span asp-validation-for="TXntcItem.CTienthue" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TXntcItem.CPsno" class="control-label"></label>
                        <input asp-for="TXntcItem.CPsno" class="form-control" />
                        <span asp-validation-for="TXntcItem.CPsno" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Thêm mới</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        const dvcs = $(`#DVCS`);
        const loaitien = $(`#LoaiTien`);
        const fktkco = $('#TKCo');
        const fktkno = $('#TKNo');
        const fkkhonhap = $('#KhoNhap');
        const fkkhoxuat = $('#KhoXuat');
        const sophieu = $('#SoPhieu');

        function InitData() {
            $.ajax({
                type: "POST",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                url: "/Admin/UpdateDocumentPage/Details?handler=GetSelectedDocument",
                data: { "id": $("#ChungTu").val() },
                dataType: "json",
                success: function (result) {
                    console.log(result);

                    dvcs.val(result.fkDvcs);
                    loaitien.val(result.fkTiente);
                    fktkco.val(result.fkTkc);
                    fktkno.val(result.fkTkn);
                    fkkhonhap.val(result.fkKhonhap);
                    fkkhoxuat.val(result.fkKhoxuat);

                    const transformedControls = TransformControls(result.cControls);
                    Object.keys(transformedControls).forEach(key => {
                        const enable = !!transformedControls[key].controls[0];
                        const notOption = !!transformedControls[key].controls[1];
                        const keep = !!transformedControls[key].controls[2];
                        const save = !!transformedControls[key].controls[3];
                        if (!enable && !notOption) {
                            $(`#${key}`).val("");
                        }
                        $(`#${key}`).attr('disabled', !enable);
                        $(`#${key}`).attr('required', notOption);
                    })

                },
                error: function (data) {
                    console.log(data);
                }
            })
            HandleSelectKh($('#MaKH').val());
        }

        function HandleSelectKh(id) {
            $.ajax({
                type: "POST",
                url: "/Admin/UpdateDocumentPage/Details?handler=GetSelectedCustomer",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { "id": id },
                dataType: "json",
                success: function (result) {
                    $("#KHDiaChi").val(result.cDiachi);
                },
                error: function (data) {
                    console.log(data);
                }
            })
        }

        function TransformControls(controls) {
            const controlsArray = controls.split("#");
            const controlsObj = {};
            controlsArray.forEach(control => {
                const props = control.split(",");
                const data = props.shift();
                const dataType = data.slice(0, 3);
                const name = data.slice(3);
                const index = props.shift();
                //four digits at last is enable, notOption, keep, save
                Object.assign(controlsObj, {
                    [name]: {
                        index: +index,
                        type: dataType,
                        controls: props.map(p => +p)
                    }
                });
            })
            return controlsObj;
        }

        InitData();
    </script>
}
