@page
@model Accounting_System.Areas.Admin.Pages.UpdateDocumentPage.IndexModel

@{
    ViewData["Title"] = "Cập nhật chứng từ";
}

<h1>Cập nhật chứng từ</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Tạo mới</a>
</p>
<div class="card shadow mb-4 w-100">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách chứng từ</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.CNgaylap)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.CSophieu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkNguoilh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.CDiengiai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.CDiengiai2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkTkno)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkTkco)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.CPsno)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.CPsno2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.CPsco)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.CPsco2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.CTigia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkKhachhang)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Kh.CTen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Kh.CDiachi)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkVthh)
                        </th>
                        <th>
                            Tên vật tư, hàng hóa
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkDvt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.CDongia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.CVat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.CNgayct)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkKhoxuat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkKhonhap)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkNvkd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.CCpsx)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkKmp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkPhanxuong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkPhongban)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkDtcp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.CSotknh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkDvcs)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkPttt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkTscd)
                        </th>
                        <th>
                            Tên TSCĐ
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntcRecordList[0].Xntc.FkDondathang)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TXntcRecordList)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.CNgaylap)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.CSophieu)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkNguoilh)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.CDiengiai)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.CDiengiai2)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkTkno)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkTkco)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.CPsno)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.CPsno2)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.CPsco)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.CPsco2)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.CTigia)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkKhachhang)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Kh.CTen)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Kh.CDiachi)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkVthh)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Vthh.CTen)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkDvt)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.CDongia)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.CVat)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.CNgayct)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkKhoxuat)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkKhonhap)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkNvkd)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.CCpsx)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkKmp)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkPhanxuong)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkPhongban)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkDtcp)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.CSotknh)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkDvcs)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkPttt)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkTscd)
                        </td>
                        <td>
                            Tên TSCĐ
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Xntc.FkDondathang)
                        </td>
                        <td>
                            <div class="d-flex" style="gap: 16px">
                                <a class="btn btn-success btn-circle" asp-page="./Edit" asp-route-id="@item.Xntc.PkId"><i class="fas fa-edit"></i></a>
                                <a class="btn btn-info btn-circle" asp-page="./Details" asp-route-id="@item.Xntc.PkId"><i class="fas fa-eye"></i></a>
                                <a class="btn btn-danger btn-circle" asp-page="./Delete" asp-route-id="@item.Xntc.PkId"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>