@page
@model Accounting_System.Areas.Admin.Pages.UpdateDocumentPage.IndexModel

@{
    ViewData["Title"] = "Cập nhật chứng từ";
}

<h1>Cập nhật chứng từ</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Tạo mới</a>
</p>
<div class="card shadow mb-4 w-100">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách chứng từ</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkChungtu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CSophieu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkDvcs)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkTruso)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CNgaylap)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CNgayct)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CSoct)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkKhachhang)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkNguoilh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkLoaitien)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CTigia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkPhongban)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkTkno)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkTkco)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CPsno)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CPsco)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CDiengiai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CDgdong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkThutruong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkThuquy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkKetoan)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkKttruong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkNguoilap)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkThukho)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkKhoxuat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkKhonhap)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkKexuat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkKenhap)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkNguoigiao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkVthh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkDvt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CSoluong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CDongia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CVat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkVuviec)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkPttt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CHantt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CHantt2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CLoaibt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CCopy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CPosted)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CPoster)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkUser)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CDatetime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CSoxe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CKm)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CPromo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkOrder)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CTrong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CLoaixn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CLoaict)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkKmp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkDtcp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkPhanxuong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CHoadon)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkLsx)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkLsxct)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CCpsx)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CMst)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CKhthue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CChatluong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CMrb)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CSlkiemtra)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkLdhh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkKhachhangco)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkTscd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CSophieutralai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CNote)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkNvkd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkKmpc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CKhuno)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CKhuco)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CTienthue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CSohdgtgt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CNguoilh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkModifyuser)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CThanhtoan)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkLdtg)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkNguonvon)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CLaphd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CTheobo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CMathang)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkLoaidl)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CChietkhau)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkDondathang)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CSlthung)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkQuicach)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CTienhang)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CCpbanhang)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CPsno2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CPsco2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CDiengiai2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkCuocvanchuyen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkSoxe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CDongiatc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkChucnang)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkCa)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkTotruong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CKhdiachi)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CTienthue2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkSochuyen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkHangvanchuyen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CNguoivanchuyen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CField1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CField2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CExtraentry)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CMauso)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CTk)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkTour)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CStt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CSoluongxuat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CTmpdichdanh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkThutruong02)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkKttruong02)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkKetoan02)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkThuquy02)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkNguoilap02)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkThukho02)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkNguoigiao02)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CButtoanthem)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CSophieucu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CFob)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CF)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CI)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CCif)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CCif2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CThuenk)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CGttruocthue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CGttruocthue2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkCostCenter)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CImportData)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CTienhangvanchuyen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CSotknh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkVoyage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CBillOflading)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CVoyage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CVessel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CEta)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CPol)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CPod)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CPoreceive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CPodelivery)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkBillOflading)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CDain)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CLastexport)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkVthhLuu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkNhomKc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CBookingnote)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkBookingnote)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkDtcpLuu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CImportXuat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CCkTienmat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkQlxDenghixuat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkDtcpco)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CUpdate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CKyhieumau)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CMahoadon)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CNguyengia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].FkVitri)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CSolo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CHansudung)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TXntc[0].CHetSl)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TXntc)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkChungtu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CSophieu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkDvcs)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkTruso)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CNgaylap)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CNgayct)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CSoct)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkKhachhang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkNguoilh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkLoaitien)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CTigia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkPhongban)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkTkno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkTkco)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPsno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPsco)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CDiengiai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CDgdong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkThutruong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkThuquy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkKetoan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkKttruong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkNguoilap)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkThukho)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkKhoxuat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkKhonhap)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkKexuat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkKenhap)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkNguoigiao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkVthh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkDvt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CSoluong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CDongia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CVat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkVuviec)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkPttt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CHantt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CHantt2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CLoaibt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CCopy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPosted)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPoster)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkUser)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CDatetime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CSoxe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CKm)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPromo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkOrder)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CTrong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CLoaixn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CLoaict)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkKmp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkDtcp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkPhanxuong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CHoadon)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkLsx)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkLsxct)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CCpsx)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CMst)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CKhthue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CChatluong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CMrb)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CSlkiemtra)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkLdhh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkKhachhangco)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkTscd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CSophieutralai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CNote)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkNvkd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkKmpc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CKhuno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CKhuco)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CTienthue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CSohdgtgt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CNguoilh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkModifyuser)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CThanhtoan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkLdtg)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkNguonvon)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CLaphd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CTheobo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CMathang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkLoaidl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CChietkhau)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkDondathang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CSlthung)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkQuicach)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CTienhang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CCpbanhang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPsno2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPsco2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CDiengiai2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkCuocvanchuyen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkSoxe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CDongiatc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkChucnang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkCa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkTotruong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CKhdiachi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CTienthue2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkSochuyen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkHangvanchuyen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CNguoivanchuyen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CField1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CField2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CExtraentry)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CMauso)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CTk)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkTour)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CStt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CSoluongxuat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CTmpdichdanh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkThutruong02)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkKttruong02)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkKetoan02)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkThuquy02)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkNguoilap02)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkThukho02)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkNguoigiao02)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CButtoanthem)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CSophieucu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CFob)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CF)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CCif)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CCif2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CThuenk)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CGttruocthue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CGttruocthue2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkCostCenter)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CImportData)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CTienhangvanchuyen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CSotknh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkVoyage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CBillOflading)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CVoyage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CVessel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CEta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPol)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPod)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPoreceive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPodelivery)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkBillOflading)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CDain)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CLastexport)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkVthhLuu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkNhomKc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CBookingnote)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkBookingnote)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkDtcpLuu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CImportXuat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CCkTienmat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkQlxDenghixuat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkDtcpco)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CUpdate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CKyhieumau)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CMahoadon)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CNguyengia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkVitri)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CSolo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CHansudung)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CHetSl)
                            </td>
                            <td>
                                <div class="d-flex" style="gap: 16px">
                                    <a class="btn btn-success btn-circle" asp-page="./Edit" asp-route-id="@item.PkId"><i class="fas fa-edit"></i></a>
                                    <a class="btn btn-info btn-circle" asp-page="./Details" asp-route-id="@item.PkId"><i class="fas fa-eye"></i></a>
                                    <a class="btn btn-danger btn-circle" asp-page="./Delete" asp-route-id="@item.PkId"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>