@page "{id:int?}"

@model Accounting_System.Areas.Admin.Pages.CatalogTableModel
@{
    ViewBag.Title = "Bảng danh mục";

    async Task GetTreeMenus(IEnumerable<Accounting_System.Models.TSysList> catalogList, string catalogParent = null)
    {
        foreach (var catalog in catalogList.Where(catalogItem => catalogItem.CParent == catalogParent))
        {
            <li>
                @if (catalog.CIsgroup == true)
                {
                    <span class="caret caret--group">@catalog.CVietnamese</span>
                    <ul class="nested">
                        @{
                            await GetTreeMenus(catalogList, catalog.CTable);
                        }
                    </ul>
                }
                else
                {
                    <a asp-area="Admin"
                       asp-page="/CatalogPage"
                       asp-route-id="@catalog.PkId"
                       class="caret caret--single">
                        @catalog.CVietnamese
                    </a>
                }
            </li>
        }
    }
}
<div class="row">
    <div class="col-2">
        <ul id="syslist">
            @{
                await GetTreeMenus(Model.CatalogList);
            }
        </ul>
    </div>
    <div class="col-10">
        <h2>@Model.CurrentCatalog.CVietnamese</h2>
        <div id="catalog-table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        @foreach (var item in Model.CatalogListDetail)
                        {
                            <th scope="col">@item.CVietnamese</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.rowsCount; i++)
                    {
                        <form method="post">
                        <tr>
                            @foreach (var columnName in Model.TableData.Keys)
                            {
                                <td>
                                    <input type="text" class="form-control" name="@columnName" value="@Model.TableData[columnName][i]" readonly="@(string.Equals(@columnName, "PK_ID")|string.Equals(@columnName, "C_MA"))">
                                </td>
                            }
                            <td><input type="submit" class="btn btn-primary" /></td>
                        </tr>
                        </form>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
