@page
@model Accounting_System.Areas.Admin.Pages.RegionPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TDmVung</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmVung.FkDvcs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmVung.FkDvcs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmVung.CCap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmVung.CCap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmVung.CMa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmVung.CMa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmVung.CMota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmVung.CMota)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmVung.CLastexport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmVung.CLastexport)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TDmVung.PkId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
