@page
@model Accounting_System.Areas.Admin.Pages.RegionPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TDondathangdk[0].CStt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDondathangdk[0].FkDkbg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDondathangdk[0].FkDondathangNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TDondathangdk) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CStt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkDkbg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkDondathangNavigation.CSophieu)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PkId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PkId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
