@page
@model Accounting_System.Areas.Admin.Pages.ProvincePage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TDmTtp</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmTtp.CMa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmTtp.CMa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmTtp.CTen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmTtp.CTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmTtp.CQuocgia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmTtp.CQuocgia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDmTtp.CLastexport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDmTtp.CLastexport)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TDmTtp.PkId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
