@page
@model Accounting_System.Areas.Admin.Pages.ProvincePage.IndexModel

@{
    ViewData["Title"] = "Danh mục Tỉnh/Thành phố";
}

<h1>Danh mục Tỉnh/Thành phố</h1>

<p>
    <a asp-page="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TDmTtp[0].CMa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmTtp[0].CTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmTtp[0].CQuocgia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDmTtp[0].CLastexport)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TDmTtp) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CMa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CQuocgia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLastexport)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PkId">Sửa</a> |
                <a asp-page="./Details" asp-route-id="@item.PkId">Chi tiết</a> |
                @*<a asp-page="./Delete" asp-route-id="@item.PkId">Xóa</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
