@page "{id:int?}"

@model Accounting_System.Areas.Admin.Pages.CatalogPage.IndexModel
@{
    ViewBag.Title = "Bảng danh mục";

    async Task GetTreeMenus(IEnumerable<Accounting_System.Models.TSysList> catalogList, string catalogParent = null)
    {
        foreach (var catalog in catalogList.Where(catalogItem => catalogItem.CParent == catalogParent))
        {
            <li>
                @if (catalog.CIsgroup == true)
                {
                    <span class="caret caret--group">@catalog.CVietnamese</span>
                    <ul class="nested">
                        @{
                            await GetTreeMenus(catalogList, catalog.CTable);
                        }
                    </ul>
                }
                else
                {
                    <a asp-area="Admin"
                       asp-page="/CatalogPage/Index"
                       asp-route-id="@catalog.PkId"
                       class="caret caret--single">
                        @catalog.CVietnamese
                    </a>
                }
            </li>
        }
    }
}
<div class="d-flex">
    <div style="flex: 0 0 248px;">
        <ul id="syslist">
            @{
                await GetTreeMenus(Model.CatalogList);
            }
        </ul>
    </div>
    @if (Model.CurrentCatalogId != null)
    {
        <div class="w-100 overflow-auto">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
                Tạo mới
            </button>
            <div class="card shadow my-4 w-100">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">@Model.CurrentCatalog.CVietnamese</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="catalogTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    @foreach (var item in Model.CatalogListDetail)
                                    {
                                        <th scope="col">@item.CVietnamese</th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.RowsCount; i++)
                                {
                                    <tr>
                                        <input value="@Model.CurrentCatalog.CTable"
                                               form="@(Model.CurrentCatalog.CTable + "_" + i)"
                                               name="C_TABLE"
                                               type="hidden" />
                                        @foreach (var columnName in Model.TableData.Keys)
                                        {
                                            var currentListDetail = Model.GetCurrentListDetail(Model.CurrentCatalog.PkId, columnName);
                                            bool isReadOnly = currentListDetail.CReadonly ?? false;
                                            bool isRequired = currentListDetail.CAllownull ?? false;
                                            bool isVisible = currentListDetail.CVisible ?? false;
                                            if (isVisible)
                                            {
                                                <td>
                                                    <input class="form-control w-auto"
                                                           form="@(Model.CurrentCatalog.CTable + "_" + i)"
                                                           name="@columnName"
                                                           value="@Model.TableData[columnName][i]"
                                                           readonly="@isReadOnly"
                                                           required="@isRequired">
                                                </td>
                                            }
                                            else
                                            {
                                                <input name="@columnName"
                                                       value="@Model.TableData[columnName][i]"
                                                       form="@(Model.CurrentCatalog.CTable + "_" + i)"
                                                       type="hidden">
                                            }
                                        }
                                    <td class="text-center">
                                        <button type="submit" form="@(Model.CurrentCatalog.CTable + "_" + i)" class="btn btn-success">
                                            <i class="fas fa-check"></i>
                                        </button>
                                        <button type="submit" form="@(Model.CurrentCatalog.CTable + "_DELETE_" + i)" class="btn btn-danger">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @for (int i = 0; i < Model.RowsCount; i++)
        {
            <form id="@(Model.CurrentCatalog.CTable + "_" + i)" method="post">
            </form>
            <form id="@(Model.CurrentCatalog.CTable + "_DELETE_" + i)" asp-page-handler="DeleteCatalogItem" method="post">
                <input value="@Model.CurrentCatalog.CTable"
                       name="C_TABLE" type="hidden"/>
                <input name="PK_ID"
                       value="@Model.TableData["PK_ID"][i]" type="hidden">
            </form>
        }

        <!-- Modal -->
        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel">Tạo mới @Model.CurrentCatalog.CVietnamese</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form asp-page-handler="CreateData" method="post">
                            <input type="text" value="@Model.CurrentCatalog.CTable" name="C_TABLE" hidden />
                            @foreach (var columnName in Model.TableData.Keys)
                            {
                                var currentListDetail = Model.GetCurrentListDetail(Model.CurrentCatalog.PkId, columnName);
                                bool isReadOnly = currentListDetail.CReadonly ?? false;
                                bool isRequired = currentListDetail.CAllownull ?? false;
                                bool isVisible = currentListDetail.CVisible ?? false;
                                <div class="form-group">
                                    @{
                                        if (isVisible)
                                        {
                                            <label for="@columnName">@currentListDetail.CVietnamese</label>
                                        }
                                    }
                                    <input class="form-control"
                                           name="@columnName"
                                           value=""
                                           readonly="@isReadOnly"
                                           required="@isRequired"
                                           type="@(isVisible ? "" : "hidden")">
                                </div>
                            }
                            <button type="submit" class="btn btn-primary float-right">Tạo mới</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
